<%# 投稿一覧(左側のコンテンツ) %>
<%# いいね機能 %>
<div class="left_contents">
  <ul>
    <% @reviews.each do |review| %>
      <li>
        <div class="left_contents-tweet">
            <%# タイトル表示 %>
            <div class="left_contents-tweet_title">
            <a href="/reviews/<%= review.id %>">
                <span><%= review.title %></span>
            </a>
            </div>
            <%# いいねのテンプレートを呼び出し(作品のidを使いたいのでreviewを受け渡します) %>
            <%= render partial: 'reviews/reviews', :locals => { review: review } %>
            <div class="left_contents-tweet_main">
              <%= image_tag(review.image) %>
            </div>
        </div>
        <div class="left_contents_text">
          <h1><%= review.content %></h1>
        </div>
        <%# 投稿したユーザーのニックネイムを表示 %>
        <span><%= review.user.nickname %></span>
      </li>
    <% end %>
  </ul>
</div>



<%# オススメ画面(右側のコンテンツ) %>
<div class="right_contents">

  <div class="right_contents-recommended_title">
    <h1 class="right_contents-recommended_title_font">オススメ</h1>
  </div>

  <ul>
    <% @reviews_rank.each do |review| %>
      <li>
        <div class="right_contents-recommended_main">
            <div class="right_contents-recommended_main_image">
            <%= image_tag(review.image) %>
            <%= review.title %>
            </div>
        </div>
      </li>
    <% end %>
  </ul>

</div>
