<!DOCTYPE html>
<html>
  <head>
    <title>Artra</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header_contents">     <!--[固定のヘッダー]-->
        <div>
        <%= link_to  "Artra", "/", {class:"header_contents_logo"} %>   <!--ロゴ-->
        </div>
        <div class="header_contents_button">
          <%= link_to  "検索", "#", {class: "header_contents_button_search"}  %>   <!--検索ボタン-->
          <%= link_to  "投稿", new_review_path, {class: "header_contents_button_new"}  %>   <!--投稿ボタン-->
        </div>
      </div>
    </header>
    <div class="main">
        <%= yield %>
    </div>
  </body>
</html>
