<!DOCTYPE html>
<html>
  <head>
    <title>Artra</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="top">
        <%= image_tag('book.jpg', :class=>"top_img") %>
        <p class="top_comment">想い出の一冊と共に<p>

        <div class="header_contents">     <!--[固定のヘッダー]-->
          <div>
          <%= link_to  "Artra", "/", {class:"header_contents_logo"} %>   <!--ロゴ-->
          </div>
          <div class="header_contents_button">
            <% if user_signed_in? %>
            <%= link_to  "ログアウト", destroy_user_session_path, {class:"header_contents_button_sign_out"} %>   <!--ログアウト-->
            <%= link_to  "作品投稿", new_art_path, {class: "header_contents_button_new"}  %>   <!--検索ボタン-->
            <% else %>
            <%= link_to  "ログイン", user_session_path, {class:"header_contents_button_sign_in"} %>   <!--ログイン-->
            <% end %>
            <%= link_to  "作品検索", arts_path, {class: "header_contents_button_search"}  %>   <!--検索ボタン-->
          </div>
        </div>
      </div>
    </header>
    <div class="main">
        <%= yield %>
    </div>
  </body>
</html>
